In [1]:
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
start_day = "2019-06-01"
end_day   = "2020-06-01"
df        = data.DataReader("^N225", "yahoo", start_day, end_day)

In [3]:
df.head(10)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-06-03,20438.029297,20305.740234,20327.869141,20410.880859,67400,20410.880859
2019-06-04,20464.570312,20289.640625,20435.859375,20408.539062,69200,20408.539062
2019-06-05,20800.640625,20646.150391,20667.890625,20776.099609,72300,20776.099609
2019-06-06,20842.279297,20745.839844,20745.839844,20774.039062,59600,20774.039062
2019-06-07,20907.769531,20816.580078,20859.779297,20884.710938,50700,20884.710938
2019-06-10,21166.119141,21077.949219,21095.400391,21134.419922,58200,21134.419922
2019-06-11,21227.179688,21066.619141,21099.539062,21204.279297,52100,21204.279297
2019-06-12,21259.699219,21118.750000,21130.390625,21129.720703,56500,21129.720703
2019-06-13,21111.230469,20932.130859,21040.910156,21032.000000,65700,21032.000000
2019-06-14,21119.730469,20971.179688,21049.410156,21116.890625,60400,21116.890625